.app{
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}

.main{
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./assets/bg.jpg") center;
    display: flex;
    flex-direction: column;
}

.top{
  height: 50%;
  position: relative;
}

.timer{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  bottom: 10px;
  left: 80px;
}

.bottom{
  height: 50%;
}

.money{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moneyList {
    padding: 20px;
    list-style: none;
    width: 100%;
  }
  
  .moneyListItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
  }
  
  .moneyListItem.active {
    background-color: teal;
  }
  
  .moneyListItemNumber {
    width: 30%;
    font-size: 18px;
    font-weight: 100;
  }
  
  .moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
  }

  .endtext{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(#100241,black);
    border: 2px solid white; 
    width: 80%;
    text-align: center;
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;
    font-weight: 500;
  }